html{
  font-size: 10px;
  font-family: "EB Garamond", serif;
}
body{
  font-size: 1.6rem;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  background: darkslateblue;
  color: lavender;
}

header{
  /* grid-column: span 12; */
  text-align: center;
  vertical-align: bottom;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 200px;
  background: linear-gradient(to bottom, darkorchid 60%, transparent 60%);
  padding-top: 10px;
  z-index: 1000;
}
header *{
  background: darkorchid;
}
h1{
  border-radius: 0 0 50% 50%;
  corner-shape: bevel;
  border-bottom: 10px solid mediumorchid;
  padding-bottom: 1em;
  box-shadow: 0px 15px 12px darkslateblue;
  /* outline-top: 500px solid midnightblue; doesn't work, need new method*/
}
main{
  grid-column-start: 3;
  grid-column-end: 11;
  background: darkorchid;
  padding: 5px;
}
.spacer{
  height: 225px;
}

button{
  background: none;
  border: none;
  color: lavender;
  font-family: "EB Garamond", serif;
  font-size: 1.5em;
  /* display: inline; */
  transition: all 0.2s;
  z-index: -1;
}

td{
  /* min-width: 5vw; */
  max-width: 20vw;
  padding-bottom: 2em;
  border-left: 1px dashed mediumorchid;
  vertical-align: top;
  padding-left: 5px;
  padding-right: 10px;
}
.entry, .entry *{
  font-weight: bold !important;
  padding-bottom: 0 !important;
}

.lineUnder, .lineUnder *{
  border-bottom: 1px solid lavender;
}

i{
  font-style: normal;
  color: magenta;
}

a{
  color: slateblue;
}
a:hover{
  color: azure;
}

.entry a{
  color: lavender;
  text-decoration: none;
}
.entry a:hover{
  text-decoration: underline;
}

#example{
  font-style: italic;
}

/* responsive code goes here vvv */
@media only screen and (max-width: 850px/*may need to change number*/) {
  main{
    grid-column: span 12;
  }
  body{
    font-size: 1.4rem;
  }
  td{
    max-width: 30vw;
  }
}
